In [1]:
# NAME: SHRUTHI PASUMARTHI
# STUDENT ID: 801218392
# HOMEWORK 4 QUESTION 2

In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.decomposition import PCA 
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score, precision_score, recall_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error

C:\Users\Shruthi\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Shruthi\anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\Shruthi\anaconda3\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [3]:
housing = pd.DataFrame(pd.read_csv("Housing.csv"))
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [4]:
m = len(housing)
m

545

In [5]:
housing.shape

(545, 13)

In [6]:
num_vars = ['area', 'bedrooms', 'bathrooms', 'stories', 'mainroad', 'guestroom', 'basement', 
            'hotwaterheating', 'airconditioning', 'parking', 'prefarea', 'price']
df_train = housing[num_vars]

In [7]:
df_train.guestroom.replace(('yes', 'no'), (1, 0), inplace=True)
df_train.mainroad.replace(('yes', 'no'), (1, 0), inplace=True)
df_train.basement.replace(('yes', 'no'), (1, 0), inplace=True)
df_train.hotwaterheating.replace(('yes', 'no'), (1, 0), inplace=True)
df_train.airconditioning.replace(('yes', 'no'), (1, 0), inplace=True)
df_train.prefarea.replace(('yes', 'no'), (1, 0), inplace=True)
df_train

C:\Users\Shruthi\AppData\Local\Temp\ipykernel_21116\2598786059.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train.guestroom.replace(('yes', 'no'), (1, 0), inplace=True)
C:\Users\Shruthi\AppData\Local\Temp\ipykernel_21116\2598786059.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train.mainroad.replace(('yes', 'no'), (1, 0), inplace=True)
C:\Users\Shruthi\AppData\Local\Temp\ipykernel_21116\2598786059.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train.basement.replace(('yes', 'no'), (1, 0), inplace=True)
C:\Users\Shruthi\AppData\Local\Temp\ipykernel_21116\2598786059.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train.hotwaterheating.replace(('yes', 'no'), (1, 0), inplace=True)
C:\Users\Shruthi\AppData\Local\Temp\ipykernel_21116\2598786059.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train.airconditioning.replace(('yes', 'no'), (1, 0), inplace=True)
C:\Users\Shruthi\AppData\Local\Temp\ipykernel_21116\2598786059.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train.prefarea.replace(('yes', 'no'), (1, 0), inplace=True)

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,price
0,7420,4,2,3,1,0,0,0,1,2,1,13300000
1,8960,4,4,4,1,0,0,0,1,3,0,12250000
2,9960,3,2,2,1,0,1,0,0,2,1,12250000
3,7500,4,2,2,1,0,1,0,1,3,1,12215000
4,7420,4,1,2,1,1,1,0,1,2,0,11410000
...,...,...,...,...,...,...,...,...,...,...,...,...
540,3000,2,1,1,1,0,1,0,0,2,0,1820000
541,2400,3,1,1,0,0,0,0,0,0,0,1767150
542,3620,2,1,1,1,0,0,0,0,0,0,1750000
543,2910,3,1,1,0,0,0,0,0,0,0,1750000
544,3850,3,1,2,1,0,0,0,0,0,0,1750000

In [8]:
x0 = df_train.values[:,0] #area
x1 = df_train.values[:,1] #bedrooms
x2 = df_train.values[:,2] #bathrooms
x3 = df_train.values[:,3] #stories
x4 = df_train.values[:,4] #mainroad
x5 = df_train.values[:,5] #guestroom
x6 = df_train.values[:,6] #basement
x7 = df_train.values[:,7] #Hotwater heating
x8 = df_train.values[:,8] #airconditioning
x9 = df_train.values[:,9] #parking
x10 = df_train.values[:,10] #prefarea

y = df_train.values[:,11] #price

In [9]:
x0 = x0.reshape(m, 1) 
x1 = x1.reshape(m, 1) 
x2 = x2.reshape(m, 1) 
x3 = x3.reshape(m, 1) 
x4 = x4.reshape(m, 1)
x5 = x5.reshape(m, 1)
x6 = x6.reshape(m, 1)
x7 = x7.reshape(m, 1)
x8 = x8.reshape(m, 1)
x9 = x9.reshape(m, 1)
x10 = x10.reshape(m, 1)

y = y.reshape(m,1)

In [10]:
X = np.hstack((x0, x1, x2, x3, x4, x5, x6, x7, x8, x9, x10))

In [11]:
#Scaling the data to do the Logistic regression
sc = MinMaxScaler()
x = sc.fit_transform(X)
#Doing the PCA feature extraction for k columns
pca = PCA(n_components=11) 
principalComponents = pca.fit_transform(x) 
principalDf = pd.DataFrame(data = principalComponents)
finalDf = pd.concat([principalDf, housing[['price']]], axis = 1)
x = pd.DataFrame(principalDf.to_numpy())
#Splitting the train and test data
X_train, X_test, Y_train, Y_test = train_test_split(x, y, train_size = 0.8, test_size = 0.2, 
                                                            random_state=None, shuffle = True)
#Running the Support vector regression machines- linear kernelization
clf = SVR(kernel='linear', C=1e3)
clf.fit(X_train, Y_train)
Y_pred = clf.predict(X_test)
#Calculating the metrics- accuracy and mean squared error    
score = clf.score(X_test, Y_test)
msl = mean_squared_error(Y_pred, Y_test)
  
print("For 1 extracted features, accuracy = %.5f and MSE = %.5f" %(score, msl))

For 1 extracted features, accuracy = 0.06098 and MSE = 3211333615315.76953

C:\Users\Shruthi\anaconda3\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [12]:
#Scaling the data to do the Logistic regression
sc = MinMaxScaler()
x = sc.fit_transform(X)
#Doing the PCA feature extraction for k columns
pca = PCA(n_components=11) 
principalComponents = pca.fit_transform(x) 
principalDf = pd.DataFrame(data = principalComponents)
finalDf = pd.concat([principalDf, housing[['price']]], axis = 1)
x = pd.DataFrame(principalDf.to_numpy())
#Splitting the train and test data
X_train, X_test, Y_train, Y_test = train_test_split(x, y, train_size = 0.8, test_size = 0.2, 
                                                            random_state=None, shuffle = True)
#Running the Support vector regression machines- poly kernalization
clf = SVR(kernel='poly', C=1e3, degree =2)
clf.fit(X_train, Y_train)
Y_pred = clf.predict(X_test)
#Calculating the metrics- accuracy and mean squared error   
score = clf.score(X_test, Y_test)
msl = mean_squared_error(Y_pred, Y_test)
  
print("For 1 extracted features, accuracy = %.5f and MSE = %.5f" %(score, msl))

For 1 extracted features, accuracy = -0.09168 and MSE = 3267446904656.20459

C:\Users\Shruthi\anaconda3\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [13]:
#Scaling the data to do the Logistic regression
sc = MinMaxScaler()
x = sc.fit_transform(X)
#Doing the PCA feature extraction for k columns
pca = PCA(n_components=11) 
principalComponents = pca.fit_transform(x) 
principalDf = pd.DataFrame(data = principalComponents)
finalDf = pd.concat([principalDf, housing[['price']]], axis = 1)
x = pd.DataFrame(principalDf.to_numpy())
#Splitting the train and test data
X_train, X_test, Y_train, Y_test = train_test_split(x, y, train_size = 0.8, test_size = 0.2, 
                                                            random_state=None, shuffle = True)
#Running the Support vector regression machines- rbf kernalization
clf = SVR(kernel='rbf', gamma=0.1)
clf.fit(X_train, Y_train)
Y_pred = clf.predict(X_test)
#Calculating the metrics- accuracy and mean squared error   
score = clf.score(X_test, Y_test)
msl = mean_squared_error(Y_pred, Y_test)
  
print("For 1 extracted features, accuracy = %.5f and MSE = %.5f" %(score, msl))

For 1 extracted features, accuracy = -0.14131 and MSE = 4303918329841.66211

C:\Users\Shruthi\anaconda3\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)